.rectablge
{
  height: 50px;
}
.company-table {
    margin-left: 12%;
    width: 80%;
    border-collapse: collapse;
  }
  .company-table th, .company-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  .company-table th {
    background-color: #007bff;
    color: white;
  }
  .company-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .company-table a {
    color: #007bff;
    text-decoration: none;
  }


  .btn {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
  }
  
  .green-square {
    background-color: green;
    color: white;
  }
  
  .yellow-square {
    background-color: yellow;
    color: black;
  }
  
  .red-square {
    background-color: red;
    color: white;
  }
  