<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

<app-placement-sidebar></app-placement-sidebar>
<div class="leaderboard">
    <div class="student rank-1">
        <div class="info">
            <div class="marks">
                <h3>Deepak Vishwanath</h3>
                <span>MCQ Mark: 95</span>
                <span>Programming Mark: 92</span>
                <span>Rank: 1</span>
            </div>
        </div>
        <div class="trophy-container">
            <i class="bx bx-trophy gold trophy"></i>
        </div>
    </div>
    <div class="student rank-2">
        <div class="info">
           
            <div class="marks">
                <h3>Rithwik Wasudevan</h3>
                <span>MCQ Mark: 90</span>
                <span>Programming Mark: 88</span>
                <span>Rank: 2</span>
            </div>
        </div>
        <div class="trophy-container">
            <i class="bx bx-trophy silver trophy"></i>
        </div>
    </div>
    <div class="student rank-3">
        <div class="info">
            
            <div class="marks">
                <h3>Krishnakumar</h3>
                <span>MCQ Mark: 85</span>
                <span>Programming Mark: 80</span>
                <span>Rank: 3</span>
            </div>
        </div>
        <div class="trophy-container">
            <i class="bx bx-trophy bronze trophy"></i>
        </div>
    </div>
    <div class="student">
        <div class="info">
            
            <div class="marks">
                <h3>Student 4</h3>
                <span>MCQ Mark: 80</span>
                <span>Programming Mark: 75</span>
                <span>Rank: 4</span>
            </div>
            
        </div>
        <div class="trophy-container">
            <i class='bx bx-run bx-flip-horizontal bx-tada' style='color:#191818; font-size: 30px;'></i>
        </div>
    </div>
    <div class="student">
        <div class="info">
            
            <div class="marks">
                <h3>Student 5</h3>
                <span>MCQ Mark: 70</span>
                <span>Programming Mark: 65</span>
                <span>Rank: 5</span>
            </div>
        </div>
        <div class="trophy-container">
            <i class='bx bx-run bx-flip-horizontal bx-tada' style='color:#191818; font-size: 30px;'></i>
        </div>
    </div>
    <div class="student">
        <div class="info">
            
            <div class="marks">
                <h3>Student 5</h3>
                <span>MCQ Mark: 70</span>
                <span>Programming Mark: 65</span>
                <span>Rank: 5</span>
            </div>
        </div>
        <div class="trophy-container">
            <i class='bx bx-run bx-flip-horizontal bx-tada' style='color:#191818; font-size: 30px;'></i>
        </div>
    </div>
    <div class="student">
        <div class="info">
            
            <div class="marks">
                <h3>Student 5</h3>
                <span>MCQ Mark: 70</span>
                <span>Programming Mark: 65</span>
                <span>Rank: 5</span>
            </div>
        </div>
        <div class="trophy-container">
            <i class='bx bx-run bx-flip-horizontal bx-tada' style='color:#191818; font-size: 30px;'></i>
        </div>
    </div>
    <div class="student">
        <div class="info">
            
            <div class="marks">
                <h3>Student 5</h3>
                <span>MCQ Mark: 70</span>
                <span>Programming Mark: 65</span>
                <span>Rank: 5</span>
            </div>
        </div>
        <div class="trophy-container">
            <i class='bx bx-run bx-flip-horizontal bx-tada' style='color:#191818; font-size: 30px;'></i>
        </div>
    </div>
    <div class="student">
        <div class="info">
            
            <div class="marks">
                <h3>Student 5</h3>
                <span>MCQ Mark: 70</span>
                <span>Programming Mark: 65</span>
                <span>Rank: 5</span>
            </div>
        </div>
        <div class="trophy-container">
            <i class='bx bx-run bx-flip-horizontal bx-tada' style='color:#191818; font-size: 30px;'></i>
        </div>
    </div>
</div>