<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

<!-- SIDE BAR STARTS HERE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="sidebar" [ngClass]="{'open': isSidebarOpen}">
    <div class="logo-details">
      <i class='bx bx-menu' style='color:#252323'  ></i>      
      <div class="logo_name">Hireling</div>
      <i class='bx bx-menu' style='color:#252323' (click)="toggleSidebar()" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a (click)="goToDashboard()">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
      <li>
       <a (click)="jobAlerts()">
        <i class='bx bx-briefcase-alt'></i>
         <span class="links_name">Job Alerts</span>
       </a>
       <span class="tooltip">Job Alerts</span>
     </li>
     <li>
       <a (click)="addjobAlerts()">
        <i class='bx bx-folder-plus'></i>         
        <span class="links_name">Add Job Alerts</span>
       </a>
       <span class="tooltip">Add Job Alerts</span>
     </li>
     <li>
       <a (click)="companyDetails()">
         <i class='bx bx-pie-chart-alt-2'></i>
         <span class="links_name">Company Details</span>
       </a>
       <span class="tooltip">Company Details</span>
     </li>
     <li>
       <a  (click)="addCompanyDetails()">
        <i class='bx bx-message-square-add' ></i>         
        <span class="links_name">Company Details</span>
       </a>
       <span class="tooltip">Add Company Details</span>
     </li>
     <li>
        <a (click)="listChamptions()">
          <i class='bx bx-run'></i>         
          <span class="links_name">Champions</span>
        </a>
        <span class="tooltip">Champions</span>
      </li>
     <li>
       <a (click)="openSettings()">
         <i class='bx bx-cog'></i>
         <span class="links_name">Setting</span>
       </a>
       <span class="tooltip">Setting</span>
     </li>
     <li>
      <a (click)="addPlacementUser()">
        <i class='bx bxs-user-plus' ></i>        
        <span class="links_name">Add Placement User</span>
      </a>
      <span class="tooltip">Placement User</span>
    </li>
     <li>
        <a (click)="logout()">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Logout</span>
        </a>
        <span class="tooltip">Logout</span>
      </li>
    </ul>
</div>
<!-- SIDE BAR ENDS HERE ************************************************************************ -->
