<app-student-side-bar></app-student-side-bar>

<div class="rectablge">

</div>
<table class="company-table">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Job Title</th>
      <th>Average LPA Provided</th>
      <th>Bond Required</th>
      <th>Company Website</th>
      <th>Last Year Recruited Students</th>
      <th>MNC or Startup</th>
      <th>Company Started Year</th>
      <th>Work Culture</th>
      <th>Type of Recruitment</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of companies">
      <td>{{ company.companyName }}</td>
      <td>{{ company.jobTitle }}</td>
      <td>{{ company.averageLpaProvided }}</td>
      <td>{{ company.bondRequired }}</td>
      <td><a [href]="company.companyWebsite" target="_blank">Visit</a></td>
      <td>{{ company.lastYearRecruitedStudents }}</td>
      <td>{{ company.mncOrStartup }}</td>
      <td>{{ company.companyStartedYear }}</td>
      <td>{{ company.workCulture }}</td>
      <td>{{ company.typeOfRecruitment }}</td>
    </tr>
  </tbody>
</table>


