.settings-container {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    margin-left: 22%;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0.2px 2px 6px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  .row {
    /* background-color: red; */
    display: flex;
  }
  .rec
  {
    height: 60px;
  }
  
  h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #333;
  }
  
  .setting-item {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 8px;
    transition: 0.5s ease-in-out;
  }
  
  .setting-item:hover {
    background: #f0f0f0;
  }
  
  button.toggle-btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    transition: all 0.3s ease;
    font-weight: bold;
  }
  
  button.toggle-btn:hover {
    background-color: #0056b3;
  }
  
  select, input[type="range"], input[type="number"] {
    width: 160px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .color-options {
    display: flex;
    gap: 10px;
  }
  
  .color-circle {
    width: 35px;
    height: 35px;
    border: 2px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .color-circle:hover {
    transform: scale(1.1);
    border-color: #000;
  }