<app-student-side-bar></app-student-side-bar>
<div class="header" (click)="toggleVerifiedJobs()">
    <span class="pageHeading1">Jobs Available</span>
    <span class="toggle-arrow" [class.rotate-arrow]="showJobs">&#9654;</span>
</div>

<div class="verifiedjob" *ngIf="showJobs">
    <div class="jobbox" *ngFor="let job of verifiedjobs">
      <h2 class="job-title">{{ job.jobTitle }}</h2>
      <p class="job-description">{{ job.jobDescription }}</p>
      <a [href]="job.companyName" class="company-link" target="_blank">Visit Company</a>
      <div class="buttons">
        <button class="btn apply-btn" (click)="confirmApply(job)">Mark As Applied</button>
        <button class="btn verify-btn">Status: {{ job.applied ? 'Applied' : 'Not Applied' }}</button>
      </div>
    </div>
</div>
  

